.bold {
  font-weight: bold;
}

.forecast-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-details--item {
  margin-bottom: 8px;
}

.forecast-details--item,
p {
  font-size: 14px;
}
