.forecast-summary {
  padding: 24px 16px 16px 0;
  font-size: 15px;
}

.forecast-summary__date {
  padding: auto;
}
.forecast-summary__description {
  padding: auto;
}
.forecast-summary__icon {
  padding: 0;
  height: 75px;
  position: relative;
  left: -20px;
}
.forecast-summary__temperature {
  padding: auto;
}

.forecast-summary__link-wrap {
  margin-top: 4px;
}
