@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

body {
  margin: 0;
  background: #eceef1;
  font-family: "Ariel", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 0;
  padding: 0;
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.forecast-summary {
  padding: 24px 16px 16px 0;
  font-size: 15px;
}

.forecast-summary__date {
  padding: auto;
}
.forecast-summary__description {
  padding: auto;
}
.forecast-summary__icon {
  padding: 8px 0px 8px 0px;
}
.forecast-summary__temperature {
  padding: auto;
}

.forecast-summary__link-wrap {
  margin-top: 4px;
}

#root {
  height: 100%;
  padding-top: 20%;
}
