.news {
	box-sizing: border-box;
	width: 358px;
	max-width: 100%;
	height: 175px;
	max-height: 100%;
	padding: 24px;
	border-radius: 20px;
	background-color: #f5f5f5;
	font-family: Helvetica;
	display: flex;
	flex-direction: column;
}

.news:hover {
	border: 1px solid #7d7d7d;
}

.news.warm:hover {
	background-image: radial-gradient(
		ellipse at left bottom,
		#fdd2d2,
		#fde0d2,
		#fdf3d2
	);
}

.news.cold:hover {
	background-image: radial-gradient(
		ellipse at left bottom,
		#ead2fd,
		#d2d6fd,
		#d2fdf7
	);
}

.news__details {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.news__details-title {
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	margin-bottom: 0;
	color: #303031;
}

.news__details-timestamp {
	margin: 0px;
	color: #4b4949;
}

.news__row {
	display: flex;
}

.news__button {
	padding: 10px 24px;
	border-radius: 6px;
	background-color: #3d3d3d;
	text-decoration: none;
	font-weight: lighter;
	color: white;
}

.news__button:hover {
	background-color: #000;
}

.news__button.warm:hover {
	background-color: #590606;
}

.news__button.cold:hover {
	background-color: #080659;
}

.news__chip {
	padding: 8px 18px;
	border-radius: 20px;
	background-color: #f0f0f0;
	border: 2px solid #7d7d7d15;
}
